@font-face {
    font-family: 'pixelcowboy';
    font-style: normal;
    font-weight: normal;
    src: url("./pixel-cowboy-cufonfonts-webfont/PixelCowboy.woff") format('woff');
}
/*--------------------------------------------------------------------------------*/
body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
    font-family:'pixelcowboy';
}
body, .snake{
    background-color:#414141;
}

#game-board{
    border-radius:100px;
    display:grid; /*making gameboard*/
    grid-template-columns: repeat(20,20px); /*20 columns, 20 pixels wide*/
    grid-template-rows:repeat(20,20px);
    margin:5px;
}
.game-border-one{
    border:#595f43 solid 10px;
    border-radius:30px;
    box-shadow:inset 0 0 0 10px #595f43; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-two{
    border:#ABB78A solid 8px;
    border-radius:26px;
    box-shadow:inset 0 0 0 10px #ABB78A; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-three{
    border:#8b966c solid 30px;
    border-radius:20px;
    box-shadow:inset 0 0 0 5px #8b966c; /*box shadow goes insward -- gets rid of gap*/
}

#instruction-text{
    position:absolute; /**freezes its position */
    top:65%;
    font-size: 8pt;
    color:#333;
    width:300px;
    text-align:center;
    text-transform:capitalize;
    padding:30px;
    margin:0;
}
.scores{
    display:flex;
    justify-content:space-between;
}
#score{
    color: #d8ddca;
}
#score,#high_score{
    font-size:25px;
    font-weight:bolder;
    margin:10px 0;
}
#high_score{
    color:white;
    display: none;
}
.snake{
    border:#5a5a5a 1px dotted;
}
.food{
    background-color: #dedede;
}
#logo{
    position:absolute;
    max-width:20%;
    transition: opacity 0.3s ease; 
}
.snake {
    transition: transform 0.2s linear; /* Adjust timing to match your game speed */
}
@keyframes blinkColor {
    0%, 100% {
        color: white;
    }
    50% {
        color: gold;
    }
}
#theme-description{
    position:absolute;
    font-size: 10pt;
    margin-top: -285px;
    margin-left:400px;
    animation: blinkColor 1s linear infinite;
}

/*------------------------- themes ---------------------------------*/
#earth-icon, #venus-icon, #neptune-icon {
    position:absolute;
    width: 200px;
    height: 200px;
}
#earth-icon{
    margin-top: -350px;
    margin-left: 700px;
}
#earth-icon:hover, #venus-icon:hover, #neptune-icon:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#venus-icon{
    margin-top: -150px;
    margin-left: 550px;
}
#neptune-icon{
    margin-top: 40px;
    margin-left: 700px;
}
#planet-h1{
    position:absolute;
    margin-top: -350px;
    margin-left: 430px;
    font-size: 20pt;
}
#planet-h1:hover, #planet-text:hover{
    color:white;
}
#planet-text{
    position:absolute;
    margin-top: -300px;
    margin-left: 350px;
    font-size: 8pt;
}
/*DYNAMIC BACKGROUND CHANGES*/
body.earth {
    background-color: #07d9d8; /* Example: Earth theme might have a green background */
}

body.venus {
    background-color: #dc5e40; /* Example: Venus theme might have a red background */
}

body.neptune {
    background-color: #968cde; /* Example: Neptune theme might have a blue background */
}
.game-border-one.earth{
    border: #5c3e36 solid 10px;
    border-radius:30px;
    box-shadow:inset 0 0 0 10px #5c3e36; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-two.earth{
    border:#ABB78A solid 8px;
    border-radius:26px;
    box-shadow:inset 0 0 0 10px #ABB78A; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-three.earth{
    border:#8b966c solid 30px;
    border-radius:20px;
    box-shadow:inset 0 0 0 5px #8b966c; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-one.venus{
    border:red solid 10px;
    border-radius:30px;
    box-shadow:inset 0 0 0 10px red; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-two.venus{
    border:#de9264 solid 8px;
    border-radius:26px;
    box-shadow:inset 0 0 0 10px #de9264; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-three.venus{
    border:#dba091 solid 30px;
    border-radius:20px;
    box-shadow:inset 0 0 0 5px #dba091; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-one.neptune{
    border:#667ed8 solid 10px;
    border-radius:30px;
    box-shadow:inset 0 0 0 10px #667ed8; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-two.neptune{
    border:#b8bfd8 solid 8px;
    border-radius:26px;
    box-shadow:inset 0 0 0 10px #b8bfd8; /*box shadow goes insward -- gets rid of gap*/
}
.game-border-three.neptune{
    border:#bea4de solid 30px;
    border-radius:20px;
    box-shadow:inset 0 0 0 5px #bea4de; /*box shadow goes insward -- gets rid of gap*/
}
.earth{
    background-color: #FFFDE0;
}
.venus{
    background-color: #FFF0F8;
}
.neptune{
    background-color: #F8F0FF;
    
}
/*----------------THEME IMAGES----------------------*/
.theme-image { /* Hidden by default */
    position: absolute; /* Allows for precise positioning */
    /* Smooth transition if needed */
}

.earth-position-1 { /*cloud*/
    display: block;
    max-width: 20%;
    position:absolute;
    z-index:3;
    top: 90px;
    left: 80px;
}
@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
  }
.earth-position-2 {/*hotairballoon*/
    display: block;
    max-width: 20%;
    position:absolute;
    top: 356px;
    left: 10px;
    animation: MoveUpDown 3s linear infinite;
}
.earth-position-3 {/*hotairballoon2*/
    display: block;
    max-width: 11%;
    position:absolute;
    top: 400px;
    left: 900px;
    animation: MoveUpDown 3s linear infinite;
}
.earth-position-4 {/*cloud2*/
    display: block;
    max-width: 23%;
    position:absolute;
    top: 220px;
    left: 170px;
}
.earth-position-5 {/*plane*/
    display: block;
    max-width: 14%;
    position:absolute;
    top: 90px;
    left: 320px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;


}
.earth-position-6 { /*cloud*/
    display: block;
    max-width: 16%;
    position:absolute;
    top: 630px;
    left: 970px;
}
.earth-position-7 { /*bird*/
    display: block;
    max-width: 10%;
    position:absolute;
    top: 600px;
    left: 1200px;
    z-index:3;
    animation: moveBird 10s linear infinite;
}
@keyframes moveBird {
    from {
        left: 100%; /* Start from the right edge of the viewport */
    }
    to {
        left: -20%; /* End a bit outside of the left edge to ensure it's fully off screen */
    }
}
.earth-position-8 { /*cloud*/
    display: block;
    max-width: 16%;
    position:absolute;
    top: -15px;
    left:-15px;
}
.earth-position-9 { /*mtn*/
    display: block;
    max-width: 40%;
    position:absolute;
    top: 595px;
    left:0px;
}
.earth-position-10 { /*sparkle*/
    display: none;
    position:absolute;
    max-width: 10%;
    top: 110px;
    left: 1130px;
    animation:blinkImage 1s linear infinite;
}

.venus-position-1 { /*volcano*/
    display: none;
    max-width: 20%;
    top: 470px;
    left: 0px;
}
.venus-position-2 { /*smoke1*/
    display: none;
    max-width: 16%;
    top: 530px;
    left: 300px;
}
.venus-position-3 { /*smoke2*/
    display: none;
    max-width: 10%;
    top: 110px;
    left: 900px;
}
.venus-position-4 { /*smoke3*/
    display: none;
    max-width: 16%;
    top: 10px;
    left: 00px;
}
.venus-position-5 { /*smoke4*/
    display: none;
    max-width: 20%;
    top: 490px;
    left: 900px;
}
.venus-position-6 { /*asteroid*/
    display: none;
    max-width: 10%;
    top: 220px;
    left: 1250px;
    animation: moveAsteroid 6s linear infinite;
}
@keyframes moveAsteroid {
    0% {
        top: initialPositionTop; /*start from the initial top position */
        left: initialPositionLeft; /*start from the initial left position */
    }
    100% {
        top: 80%; /*end at the bottom of the viewport */
        left: 50%; /*end at the left edge of the viewport */
    }
}

.venus-position-7 { /*lava fall*/
    display: none;
    max-width: 50%;
    top: -120px;
    left: 250px;
}
.venus-position-8 { /*fireball*/
    display: none;
    max-width: 8%;
    top: 350px;
    left: 80px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.venus-position-9 { /*firedog*/
    display: none;
    max-width: 20%;
    top: 300px;
    left: 200px;
}
.venus-position-10 { /*sparkle*/
    display: none;
    position:absolute;
    max-width: 10%;
    top: 210px;
    left: 990px;
    animation:blinkImage 1s linear infinite;
}
.venus-position-11 { /*sparkle*/
    display: none;
    position:absolute;
    max-width: 7%;
    top: 610px;
    left: 1230px;
    animation:MoveUpDown 1s linear infinite;
}

.neptune-position-1 { /*wind*/
    display: none;
    max-width: 25%;
    top: -40px;
    left: -40px;
}
.neptune-position-2 {/**/
    display: none;
    max-width: 15%;
    top: 400px;
    left: -10px;
}
.neptune-position-3 {
    display: none;
    max-width: 8%;
    top: 150px;
    left: 200px;
}
.neptune-position-4 {
    display: none;
    max-width: 9%;
    top: 220px;
    left: 300px;
}
.neptune-position-5 {
    display: none;
    max-width: 10%;
    top: 0px;
    left: 300px;
}
.neptune-position-6 {
    display: none;
    max-width: 40%;
    top: 620px;
    left: 200px;
}
.neptune-position-7 {
    display: none;
    max-width: 35%;
    top: 620px;
    left: 700px;
}
.neptune-position-8 { /*sparkle*/
    display: none;
    max-width: 15%;
    top: 340px;
    left: 30px;
}
.neptune-position-9 {
    display: none;
    max-width: 12%;
    z-index:3;
    top: 570px;
    left: 1000px;
    animation:moveCloud 20s linear infinite;
}
@keyframes moveCloud {
    0%, 100% {
        left: 0%;  /*syarting and ending at the left side */
    }
    50% {
        left: 90%; /*move towards the right, adjust based on your layout */
    }
}
.neptune-position-10 { /*sparkle*/
    display: none;
    position:absolute;
    max-width: 10%;
    top: 400px;
    left: 1200px;
    animation:blinkImage 1s linear infinite;
}

@keyframes blinkImage {
    0%, 100% {
        opacity: 0; /*image is invisible */
    }
    50% {
        opacity: 1; /*image is visible */
    }
}
.neptune-position-11 { /*sparkle*/
    display: none;
    max-width: 11%;
    top: 500px;
    left: 910px;
    animation: MoveUpDown 1s linear infinite;
}

/*----------------SNAKE DYANMIC -----------------*/
.snake.earth { background-color: green; }
.snake.venus { background-color: red; }
.snake.neptune { background-color: blue; }

.food.earth, .food.venus, .food.neptune {
    background-image: url("./images/cowboy.png"); /* Correct syntax for background-image */
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the background image within the element */
    display:block;
    max-width: 100%;
}
/* .food.earth { background-color: brown; border: #16DB57 5px solid; }
.food.venus { background-color: orange; border: #DB70A7 5px solid;  }
.food.neptune { background-color: lightblue;  border: #999 5px solid; } */


/*LOGO appear/disappear */
#logo-corner {
    position: absolute;  
    max-width:12%;
    top: -10px;           
    left: 615px;        
    display: none; /* initially hidden */
    transition: opacity 0.3s ease; 
}







